<h1>Your coach answers</h1>

<div class="conversation">
  <span> <strong>You : </strong></span></br><%= params[:question] %>
</div>

<div class="conversation">
  <span> <strong>Your coach : </strong></span></br>
  <% if params[:question] == "I am going to work right now!" %>
    <%= "Great!" %>
  <% elsif params[:question].include? "?" %>
    <%= "Silly question, get dressed and go to work!" %>
  <% elsif params[:question] == "" %>
    <%= "" %>
  <% else %>
    <%= "I don't care, get dressed and go to work!" %>
  <% end %>
  </br>
</div>
<%= link_to "Ask a new question", ask_path %>
